@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
    margin-right: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}